<div class="page-header">
    <h1 translate="generic.cart"><i class="fa fa-glass"/></h1>
</div>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th translate="generic.product"></th>
        <th translate="generic.image"></th>
        <th translate="generic.quantity"></th>
        <th translate="action.delete"></th>
    </tr>
    <tr ng-repeat="i in items">
        <td>{{i.product.name}}</td>
        <td><img ng-src="/api/product_images/product_thumbnail/{{i.product.id}}" class="img-thumbnail"></td>
        <td>{{i.quantity}}</td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteItem(i.id)" translate="action.delete">
            </button>
        </td>
    </tr>
</table>
