<div class="page-header">
    <h1>Categories</h1>
</div>
<div class="top-button">
    <button class="btn btn-primary" type="button" ng-click="addCategory()">
        <i class="fa fa-fw fa-plus"></i> Add category
    </button>
</div>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th translate="generic.name"></th>
        <th translate="generic.description"></th>
        <th translate="action.edit"></th>
        <th translate="generic.delete"></th>
    </tr>
    <tr ng-repeat="c in categories">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.description}}</td>
        <td>
            <button type="button" class="btn btn-default btn-xs" ng-click="editCategory(c.id)" translate="action.edit"></button>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCategory(c.id)" translate="action.delete">
            </button>
        </td>
    </tr>
</table>