<bill-steps step="1"></bill-steps>
<div class="page-header">
    <h1><i class="fa fa-fw fa-check"/>{{ "action.checkout" | translate}}</h1>
</div>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th translate="generic.product"></th>
        <th translate="generic.itemPrice"></th>
        <th translate="generic.quantity"></th>
        <th translate="generic.total"></th>
    </tr>
    <tr ng-repeat="i in items">
        <td>{{i.product.name}}</td>
        <td class="text-right">{{i.price | price}}</td>
        <td class="text-center">{{i.quantity}}</td>
        <td class="text-right">{{(i.quantity * i.price) | price}}</td>
    </tr>
    <tr>
        <td colspan="3" class="text-right"><strong translate="generic.subTotal"></strong></td>
        <td class="text-right">{{total | price}}</td>
    </tr>
    <tr>
        <td colspan="3" class="text-right"><strong translate="generic.DDV"></strong></td>
        <td class="text-right">{{(total * 0.18) | price}}</td>
    </tr>
    <tr>
        <td colspan="3" class="text-right"><strong translate="generic.total"></strong></td>
        <td class="text-right">{{(total * 1.18) | price}}</td>
    </tr>
</table>
<div class="bottom-button">
    <button type="button" class="btn btn-primary" ng-click="payCard()"><i class="fa fa-fw fa-credit-card"></i> {{
        "action.creditCardPayment" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="pay()" ng-disabled="paid"><i class="fa fa-fw fa-paypal"></i>
        {{ "action.payPalPayment" | translate}}
    </button>
</div>
