<div class="panel panel-default">
    <div class="panel-body">
        <div class="row placeholders">
            <div class="col-md-4 placeholder" ng-repeat="img in images">
                <a href="/api/product_images/image/{{img.id}}"> <img
                        ng-src="/api/product_images/thumbnail/{{img.id}}"/></a>
            </div>
            <h4>{{ product.name }}</h4>
            <h5>{{ product.price | number: 2}} MKD</h5>

            <p>{{ product.description }}</p>
        </div>
        <!-- <p>{{ product.description | limitTo: 50 }}{{product.description.length > 50 ? '...' : ''}}</p>-->
    </div>
</div>


