<div class="page-header">
    <h1 translate="generic.products"><i class="fa fa-glass"/></h1>
</div>
<div class="top-button">
    <button class="btn btn-primary" type="button" ng-click="addProduct()">
        <i class="fa fa-fw fa-plus"></i> Add product
    </button>
</div>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th translate="generic.category"></th>
        <th translate="generic.name"></th>
        <th translate="generic.description"></th>
        <th translate="generic.itemPrice"></th>
        <th translate="generic.quantity"></th>
        <th translate="generic.discount"></th>
        <th translate="generic.date"></th>
        <th translate="action.isFeatured"></th>
        <th translate="action.addImages"></th>
        <th translate="action.edit"></th>
        <th translate="action.delete"></th>
    </tr>
    <tr ng-repeat="p in products">
        <td>{{p.id}}</td>
        <td>{{p.category.name}}</td>
        <td>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.discount}}</td>
        <td>{{p.dateString}}</td>
        <td>{{p.featured}}</td>
        <td>
            <button type="button" class="btn btn-default btn-xs" ng-click="addProductImages(p.id)" translate="action.add"></button>
        </td>
        <td>
            <button type="button" class="btn btn-default btn-xs" ng-click="editProduct(p.id)" translate="action.edit"></button>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteProduct(p.id)" translate="action.delete">
            </button>
        </td>
    </tr>
</table>
