<div class="panel panel-default product-panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <a ng-click="showImage(product.id)" href="">
                    <img ng-src="/api/product_images/product_thumbnail/{{product.id}}" class="img-thumbnail"/>
                </a>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-8">
                <h4><a href="#/products/{{product.id}}">{{ product.name }}</a></h4>
                <h5>{{ product.price | number: 2}} MKD</h5>
            </div>
            <div class="col-md-4">
                <button ng-click="addToCart(product)" class="btn btn-default btn-sm" type="button"><i
                        class="fa fa-fw fa-shopping-cart"></i> {{ "action.addToCart" | translate }}
                </button>
            </div>
        </div>
        <!-- <p>{{ product.description | limitTo: 50 }}{{product.description.length > 50 ? '...' : ''}}</p>-->
    </div>
</div>

